header{
    background-color: rgb(54, 10, 10);
    color: rgb(244, 70, 70);
    padding:10px;
}

.navbar{
    height: 150px;
    padding: 30px;
    display: inline;
}

.navbar>h2{
    margin-top: 10px;
    margin-right: 20px;
    text-align: end;
    font-size: 30px;
    font-weight: 700;
}

.navbar-link     {
    
    width: 500px;
    display: flex;
    flex-wrap: wrap ;
    gap: 15px;
}

.navbar-link-a {
    font-size: 25px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(244, 70, 70);
    color: rgb(54, 10, 10);  
}

footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    background-color: rgb(54, 10, 10);
    color: rgb(128, 202, 242);
}

.footer__redes {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__redes>li {
    width: 35px;
    margin: 10px;
}
.footer__redes>li>a>img{
    border-radius: 5px;
    padding: 5px;
}

.footer__redes>li>a>img:hover {
    background-color:  rgb(244, 70, 70);
}